<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kazimasum.videosSpongbop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons8_spongebob_folder_48"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icons8_spongebob_folder_48"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login"
            android:exported="false" />
        <activity android:name=".addvideo" />
        <activity android:name=".MainActivity" />
        <activity android:name=".dashboard" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>